/* Reset básico */

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body {
    background-color: chartreuse;
    padding: 48px;
}

/* Hacer que container tenga una grilla de 5 columnas y 5 filas del mismo ancho y alto */
.container {
    display: grid;
    grid-template-columns: repeat(3, 100px); 
    grid-template-rows: repeat(3, 100px);
    grid-template-areas:   
        "header header header"
        "main   main   sidebar"
        "footer  footer  footer";


    background-color: rgb(255, 87, 247);
    width: 500px;
    height: 500px;
    margin: 0 auto; /* Esto centra el elemento cuando tiene ancho definido */
}

.header {
    grid-area: header;
    background-color: rgb(63, 20, 255);
}

.main {
    grid-area: main;
    background-color: blueviolet;
}

.sidebar {
    grid-area: sidebar;
    background-color: rgb(220, 20, 160);
}

.footer {
    grid-area:  footer;
    background-color: rgb(0, 255, 34);
}