/* Reset básico */

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body {
    background-color: rgb(73, 5, 8);
    padding: 48px;
}

/* Hacer que container tenga una grilla de 5 columnas y 5 filas del mismo ancho y alto */
.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    grid-template-rows: repeat(3, 1fr);
    gap: 24px;
    
    grid-auto-flow: row; /* Es el valor por default */
    /* grid-auto-flow: column; */ /* Este valor cambia o ajusta el flujo a columnas */

    /* Esto no es de grid, pero funciona para cambiar la dirección */
    direction: rtl; /* Right to Left */
   

    background-color: rgb(255, 237, 189);
    width: 500px;
    height: 500px;
    margin: 0 auto; /* Esto centra el elemento cuando tiene ancho definido */
}

.item-1 {
    background-color: chocolate;
}

.item-2 {
    background-color: darkred;
}

.item-3 {
    background-color: coral;
}

.item-4 {
    background-color: darkorange;
}

.item-5 {
    background-color: gold;
}

.container div {
    font-size: 32px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(37, 2, 4);
}